<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.dao.GarUserTokenDao">

	<select id="queryByUserId" resultType="com.richstonedt.garnet.model.GarUserToken">
		select * from gar_user_token where user_id = #{userId}
	</select>

	<select id="queryByToken" resultType="com.richstonedt.garnet.model.GarUserToken">
		select * from gar_user_token where token = #{token}
	</select>

	<insert id="save" parameterType="com.richstonedt.garnet.model.GarUserToken">
		insert into gar_user_token
		(
		user_id,
		token,
		expire_time
		)
		values
		(
		#{userId},
		#{token},
		#{expireTime}
		)
	</insert>

	<update id="update" parameterType="com.richstonedt.garnet.model.GarUserToken">
		update gar_user_token
		<set>
			<if test="token != null and token != ''">
				token = #{token},
			</if>
			<if test="expireTime != null">
				expire_time = #{expireTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime}
			</if>
		</set>
		where user_id = #{userId}
	</update>

</mapper>